# Dataset - do not upload to GitHub
UAH-DRIVESET-v1/
UAH-DRIVESET-v1.zip

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Model files
models/
*.joblib
*.pkl

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
